@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-family: "Inter", sans-serif;
    --colorBrown: #DB6300;
    --colorBlack: #474747;
    --colorWhite: #FFFFFF;
    --bgColor: #FFFBF3;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


body{
    font-family: var(--font-family);
    background-color: var(--bgColor);
}

a{
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

.container{
    width: 128rem;
    margin: 0 auto;
}

/* Header start */
.header{
    padding: 3.2rem;
    width: 100vw;
}

.header .nav, 
.header .navbar{
    display: flex;
    align-items: center;
}

.logo h1{
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--colorBrown);
}

.logo h1 span{
    color: var(--colorBlack);
}

.header .nav .navbar{
    margin-left: auto;
    gap: 4rem;
}

.navbar .nav-item{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--colorBlack);
    cursor: pointer;
}

.navbar .nav-item:hover{
    color: var(--colorBrown);
}

.nav .sign-up{
    background-color: var(--colorBrown);
    color: var(--colorWhite);
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: .5rem;
    padding: 1rem 4rem;
    margin-left: 5.2rem;
}
/* Header end */